.members {
  height: 100%;
  width: 100%;

  padding: 10px 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  text-align: end;
  font-size: 25px;
  margin-bottom: 20px;
}
.groupName {
  font-size: 18px;
  font-weight: 800;
  margin-left: 10px;
  text-shadow: #828080 1px 0 10px;
}
.plusBtn {
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.plusBtn:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
