.member {
  cursor: pointer;

  font-size: 15px;
  text-align: center;

  margin-bottom: 15px;
  padding: 5px 10px;

  color: black;

  /* -webkit-box-shadow: 10px 10px 21px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -15px rgba(0, 0, 0, 0.75); */
  transition: transform 0.1s ease-in;
}

.member:hover {
  transform: scale(1.05);
  color:lightgrey;
}
