body {
  margin: 0;
  font-family: 'study_regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'study_regular';
  src: url('./fonts/EliceDigitalBaeum_Regular.ttf');
}
@font-face {
  font-family: 'study_bold';
  src: url('./fonts/EliceDigitalBaeum_Bold.ttf');
}
